.Rproj.user
.Rhistory
.RData
.Ruserdata
cr_*.rds
code/sm_*.rds
tmp/
random_projection.rds
*_normalized_variable_selected.csv
*_normalized.csv
*_covariance.csv
*.sqlite
*.html
*.png
metadata/*
backend/*
tmp_trad/*
*.RData
tmp_sql/
code/*.rds
code/*.pdf
code/moa_plots*
FA/*
PCA/*
.DS_Store
